/*estructura*/

title {
    font-size: x-large;
}

body {
    background-color: $color;
    font-family: sans-serif;
}
.header {
    color: rgb(27, 99, 231);
    padding: 10px;
    text-align: center;
    background-color: $color;
}
.colorFondo {
    background-color: $color ;
}


h2 {
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(27, 99, 231);
}

/*menu*/
li {
    padding: 25px;
    height: 10px;
    margin: 15px;
    text-align: center;
    border-radius: 2px;
    a{
        text-decoration: none;
        &:hover {
        background-color: rgb(221, 219, 219);
    }
}
}
h1 {
    border: white ;
    border: 10px;
}
h3{
    padding-top: 50px;
    color: rgb(180, 22, 22);
}


img {
    padding: 10px;
    
    
}
/*texto*/
article { 
    font-size: medium;
    background-color: $color;
    padding: 20px;
    text-align: justify;
}
/*formularios*/
form {
    padding: 20px;
    border: 15px;
    margin: 20px;
    
}
input {
    padding: 5px;
    margin: 5px;
}
/*redes*/
svg {
    padding: 5px;
}
/*footer*/
footer {
    background-color: $color;
    text-align: center;
    }

.tituloSobreMi {
    text-decoration-line: overline;
    padding-top: 20PX;
}

/*contacto*/
.bodyContacto {
   background-image: url(/img/contacto.jpg) ;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.5;
  
}