/* MAPS*/
$mapa:(
    /* clave: valor*/
    inicio:   #55acee,
    sobremi:  #3a5795,
    proyectos:      #C25E30,
    contactos: rgb(143, 52, 143),
);
//MAPS con each
@each $nombres, $color in $mapa {
  // fragmento que repite
  .btn-#{$nombres} {
    background-color: $color;
    border: $color;
   }
}
/*EXTEND*/

.tituloSobreMi {
  text-decoration-line: overline;
  padding-top: 20PX;
}
.tituloSobreMi-2 {
  @extend .tituloSobreMi;
  color: #C25E30;
}

/* MIXINS*/
@mixin sizes($altura) {
  // fragmento que se imprime
  height: $altura;
}

body {
  @include sizes(100vh);
}