

/*variables*/
$color: rgb(255, 255, 255);
$color1: rgb(235, 156, 111);
$color2: rgb(134, 203, 248);

$enable-gradients: true;
$enable-shadows: true;
$btn-padding-y:  1rem;
$btn-padding-x:  5rem;



