/*responsive*/
/*inicio*/
/*MOBILE*/
@media (max-width: 480px) {
    body {
        height: 100vh;
    }
    h1 {
        padding-top: 10px;
        margin: 0 auto;
    }
    li {
       padding: 28px;
    }
    section {
        justify-content: center;
        align-items: center;
        }
    h3 {
        text-align: center;
    }
}
/*TABLET*/
@media (min-width: 481px) and (max-width: 1023px) {
    body {
        height: 100vh;
    }
    h1 {
        padding-top: 10px;
        margin: 0 auto;        
    }
    li {
        margin-top: 10px;
        padding: 28px;
        width: 160px;
     }
    section {
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    body {
        height: 100vh;
    }
    h1 {
        padding-top: 10px;
        margin: 0 auto;        
    }
    section {
        margin: 10px;
    }
}

/*SOBRE MI*/
h4{
    grid-area: foto;
}
/*mobile*/
@media (max-width: 480px) {
    body {
        height: 100vh;
    }
}
/*tablet*/
@media (min-width: 481px) and (max-width: 1023px) {
    body {
        height: 100vh;
    }
}
/*desktop*/
@media (min-width: 1024px){
    body {
        height: 100vh;
    }
    ul {
        margin: 10px;
        padding: 20px;
    }
}

/*PROYECTOS*/
/*mobile*/
@media (max-width: 480px) {
    body {
        height: 100vh;
    }
}
/*tablet*/
@media (min-width: 481px) and (max-width: 1023px) {
    body {
        height: 100vh;
    }
   }
/*desktop*/
@media (min-width: 1024px){
    body {
        height: 100vh;
    }
}
/*CONTACTO*/
legend {
text-align: center;
}

/*mobile*/
@media (max-width: 480px) {
    body {
        height: 100vh;
    }
}
/*tablet*/
@media (min-width: 481px) and (max-width: 1023px) {
    body {
        height: 100vh;
    }
  }
/*desktop*/
@media (min-width: 1024px){
    body {
        height: 100vh;
    }
}